*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{

}

/* estilos para la sección del header */
nav{
  background: #ed4264;
  background: -webkit-linear-gradient(to right, #ed4264, #ffedbc);
  background: linear-gradient(to right, #ed4264, #ffedbc);
}
.nav-content{
  background: #ffff !important;
}
.profile-nav{
  display: flex;
  flex-direction: row;
}

.nav,.photo-profile{
  display: inline-block;
}

nav{
  background-color: transparent;
  border-bottom: none;
  color:white;
}

/* estilos para la seccion modal */
.modal-text, .modal-image, .modal-video, .modal-comment,.modal-link{
  /* margin: 100px 250px; */
  position:fixed;
  width: 80%;
  height: 80vh;
  z-index: 1000;
  top:0;
  left:0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  background-color: rgba(0, 0, 0, 0.6);
}

/* estilos para elementos con jquery */
.skyblue{
  background-color: hsl(182, 83%, 39%);
}
