*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header{
  background: #ed4264;
  background: -webkit-linear-gradient(to right, #ed4264, #ffedbc);
  background: linear-gradient(to right, #ed4264, #ffedbc);
}
.text-header{
  color:#ffff;
}

/* estilos para la sección del header */
.border-radius{
  margin-top: 20px;
  padding: 10px;
  border: 2px solid #000000 !important;
  border-radius: 50px ;
}
.user-photo{
  width: 50px;
  height: 50px;
}

.photo-profile{
  margin: 2px solid #000000;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nick-name{
  color: #000000;
}

nav{
  background-color: transparent;
}
.card-content{
  color: hsl(0, 100%, 30%);
}
.btn-options{
  background-color:rgba(255, 0, 0, 0.4);
  color: #ffff;
  height: 50px;
  border: none;
}
/* estilos para la seccion modal */
.modal-text, .modal-image, .modal-video, .modal-comment,.modal-link{
  margin: 100px 50px; 
  position:fixed;
  width: 80%;
  height: 50vh;
  z-index: 1000;
  top:0;
  left:0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  background-color:#000000;
  color:#ed4264; 
  border-radius: 10px;
  padding: 10px;
   
}

/* estilos para elementos con jquery */
.skyblue{
  background-color: hsl(182, 83%, 39%);
}

.add-comments{
  overflow-y: scroll;
  height: 200px;
}

.input-text, .input-comment{
  overflow-y: scroll;
  height: 200px;
}

.add-publications {
  border: 2px solid rgba(255, 0, 0, 0.6);
  padding: 10px;
}
