<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home1</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="../css/home1.css">
  </head>
  <body>
    <!-- estructura del header -->
    <nav class=" nav-extended">
      <div class="row">
        <div class="col s3 l3 nav-wrapper">
          <a href="#" class="brand-logo">Juntas</a>
        </div>
        <div class="col s4 l4 phrase ">
           frase
        </div>
        <div class="col s5 l5 photo-profile left">
          <a href="perfil.html"><h4 class="nick-name"></h4></a>
        </div>
      </div>
    <!--opcionrd de contenidos de navegación(portada-amigas-eventos)-->
      <div class="row">
        <div class="nav-content col s12">
          <ul id="tabs-swipe-demo" class=" tabs transparent">
            <li class="tab col s3"><a href="#cover-page">Portada</a></li>
            <li class="tab col s3"><a href="#friends">amigas</a></li>
            <li class="tab col s3"><a href="#events">Eventos</a></li>
          </ul>
        </div>
      </div>
    </nav>
  <!-- estructura de la sección 'portada(cover-page)' -->
    <section id="cover-page" class="col s12">
      <div class="container">
        <div class="row">
          <div class="col s6 create-publications">
            <h2 class="col s6">Comparte</h2>
            <div class="col s6 buttons-publication">
              <button class="button-text"><i class="material-icons">create</i></button>
              <button class="button-image"><i class="material-icons">photo</i></button>
              <button class="button-video"><i class="material-icons">ondemand_video</i></button>
              <button class="button-link"><i class="material-icons">check_circle</i></button>
            </div>
          </div>
          <div class="col s12 add-publications">
          </div>
          <div class="col s6 prototype-link ">
            <p class="user-publish">Publicado por: <a class="anchor-nickname">Chatpulina97</a></p>
            <p>"Time´s Up": qué hay detrás del anuncio de protesta en los Globos de Oro</p>
            <a href="" target="_blank" class="aqui btn">https://elcomercio.pe/tvmas/hollywood/golden-globes-times-up-mensaje-asistentes-globos-oro-noticia-487160?foto=3</a>
            <div class="div-icons ">
              <a class="btn-floating  waves-effect waves-light red "><i class="material-icons icons">favorite_border</i></a>
              <a class="btn-floating  waves-effect waves-light green icon-comment"><i class="material-icons icons">comment</i></a>
              <a class="btn-floating  waves-effect waves-light yellow "><i class="material-icons icons">keyboard_arrow_downkeyboard_arrow_left</i></a>
              <a class="btn-floating  waves-effect waves-light yellow "><i class="material-icons icons">star_border</i></a>
            </div>
            <div class="add-comments"></div>
          </div>
          <div class="col s6 prototype-text" >
            <p class="user-publish">Publicado por: <a class="anchor-nickname">Luna_forever</a></p>
            <p>"fui victima de violencia pero pude salir adelante"</p>
            <p>Hola, queria compartir mi experiencia al ser victima de abusos físicos y psicologicos por parte de mi pareja; él Siempre me hacia sentir culpable de lo que pasaba, yo era la que le tenía que pedir perdón cuando me pegaba porque decía que me portaba mal y tenía que pegar. Los hijos lo sienten y viven en ese ambiente de violencia y después lo transmiten. Por eso es importante no aguantar por los hijos, sino al revés. Primero hay que hacerlo por una misma y después para que los hijos vivan en un ambiente de armonía e igualdad. El me dijo más de una vez que nunca me separaría de él. Me llamó chiquita y aseguró que lo nuestro es amor o muerte. Salí corriendo de su lado llorando y el destino quiso que yo viera un cartel que decía 'Rompamos el silencio' y al lado un teléfono. Esa noche de madrugada llamé y tuve la fuerza de salir de mi casa con mis hijos y empezar una nueva vida"..</p>
            <div class="div-icons ">
              <a class="btn-floating  waves-effect waves-light red "><i class="material-icons icons">favorite_border</i></a>
              <a class="btn-floating  waves-effect waves-light green icon-comment"><i class="material-icons icons">comment</i></a>
              <a class="btn-floating  waves-effect waves-light yellow "><i class="material-icons icons">keyboard_arrow_downkeyboard_arrow_left</i></a>
              <a class="btn-floating  waves-effect waves-light yellow "><i class="material-icons icons">star_border</i></a>
            </div>
            <div class="add-comments"></div>
          </div>
          <div class="col s6 prototype-video">
            <p class="user-publish">Publicado por: <a class="anchor-nickname">Annie</a></p>
            <p>Ya es hora!</p>
            <div class="video-container">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/fN5HV79_8B8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            <div class="div-icons ">
              <a class="btn-floating  waves-effect waves-light red "><i class="material-icons icons">favorite_border</i></a>
              <a class="btn-floating  waves-effect waves-light green icon-comment"><i class="material-icons icons">comment</i></a>
              <a class="btn-floating  waves-effect waves-light yellow "><i class="material-icons icons">keyboard_arrow_downkeyboard_arrow_left</i></a>
              <a class="btn-floating  waves-effect waves-light yellow "><i class="material-icons icons">star_border</i></a>
            </div>
            <div class="add-comments"></div>
          </div>
          <div class="col s6 prototype-image">
            <p class="user-publish">Publicado por: <a class="anchor-nickname">Luna_forever</a></p>
            <p>Vamos chicas!!</p>
            <div class="image-container">
              <img class="responsive-img" src="../assets/images/encuentro-paz.jpg">
            </div>
            <div class="div-icons ">
              <a class="btn-floating  waves-effect waves-light red "><i class="material-icons icons">favorite_border</i></a>
              <a class="btn-floating  waves-effect waves-light green icon-comment"><i class="material-icons icons">comment</i></a>
              <a class="btn-floating  waves-effect waves-light yellow "><i class="material-icons icons">keyboard_arrow_downkeyboard_arrow_left</i></a>
              <a class="btn-floating  waves-effect waves-light yellow "><i class="material-icons icons">star_border</i></a>
            </div>
            <div class="add-comments"></div>
          </div>
        </div>
      </div>
    </section>
  <!-- estructura de la sección 'amigas(friends)' -->
    <section id="friends" class="col s12" >
      <div class="container">
        <div class="row">
          <h1></h1>
          <div class="search-friend">
            <span></span><input type="text">
          </div>
        </div>
        <div class="row">
          <div class="result-search">
            <img src="" alt="">
            <button>seguir</button>
          </div>
        </div>
        <div class="friends">
          <img src="" alt=""><button></button>
          <img src="" alt=""><button></button>
          <img src="" alt=""><button></button>
          <img src="" alt=""><button></button>
          <img src="" alt=""><button></button>
          <img src="" alt=""><button></button>
        </div>
      </div>
    </section>
  <!-- estructura de la sección 'eventos(events)' -->
    <section id="events" class="col s12" >
      <div class="container">
        <div class="row">
          <div class=" col s12 icon-notification">
              <h1>Eventos</h1>
              <a href=""><i class="material-icons">access_time</i></a>
              <a href=""><i></i></a>
          </div>
          <div class="col s6 prototype-image">
            <p class="user-publish">Publicado por: <a class="anchor-nickname">Luna_forever</a></p>
            <p>Vamos chicas!!</p>
            <div class="image-container">
              <img class="responsive-img" src="../assets/images/encuentro-paz.jpg">
            </div>
            <div class="div-icons ">
              <a class="btn-floating  waves-effect waves-light red "><i class="material-icons icons">favorite_border</i></a>
              <a class="btn-floating  waves-effect waves-light green icon-comment"><i class="material-icons icons">comment</i></a>
              <a class="btn-floating  waves-effect waves-light yellow "><i class="material-icons icons">keyboard_arrow_downkeyboard_arrow_left</i></a>
              <a class="btn-floating  waves-effect waves-light yellow "><i class="material-icons icons">star_border</i></a>
            </div>
            <div class="add-comments"></div>
          </div>
        </div>
      </div>
    </section>
  <!-- estructura de modales -->
    <!-- estructura de modal para texto -->
    <section class="section-modal-text" hidden>
      <div class="modal-text">
        <div class="header-modal">
          <a class="right icon-close-text"><i class="material-icons">close</i></a>
          <h5>Compartir pensamientos</h5>
        </div>
        <div class="body-modal">
          <label for="">Agregar descripcion</label>
          <input class="description-text" type="text">
          <label for="">¿Que quieres compartir?</label>
          <input class="input-text" type="text">
        </div>
        <div class="footer-modal">
          <button class="button-modal-text" disabled>Publicar</button>
        </div>
      </div>
    </section>
    <!-- estructura para modal de imagen -->
    <section class="section-modal-image" hidden>
      <div class=" modal-image">
        <div class="col s12 header-modal">
          <span class="right icon-close-image"><i class="material-icons">close</i></span>
          <h5>Compartir imagen</h5>
        </div>
        <div class="body-modal">
          <label for="">Agregar descripcion</label>
          <input class="description-image" type="text">
          <label for="">Pegar link</label>
          <input class="input-image" type="text">
        </div>
        <div class="footer-modal">
          <button class="button-modal-image" disabled>Publicar</button>
        </div>
      </div>
    </section>
    <!-- estructura para modal de video -->
    <section class="section-modal-video" hidden>
      <div class="modal-video" hidden >
        <div class="header-modal">
          <a class="right icon-close-video"><i class="material-icons">close</i></a>
          <h5>Compartir video</h5>
        </div>
        <div class="body-modal">
          <label for="">Agregar descripcion</label>
          <input class="description-video" type="text">
          <label for="">Pegar link</label>
          <input class="input-video" type="text">
        </div>
        <div class="footer-modal">
          <button class="button-modal-video" disabled>Publicar</button>
        </div>
      </div>
    </section>
    <!-- estructura de modal para link -->
    <section class="section-modal-link" hidden>
      <div class="modal-link">
        <div class="header-modal">
          <a class="right icon-close-link"><i class="material-icons">close</i></a>
          <h5>Compartir Enlaces</h5>
        </div>
        <div class="body-modal">
          <label for="">Agregar descripcion</label>
          <input class="description-link" type="text">
          <label for="">Pegar link</label>
          <input class="input-link" type="text">
        </div>
        <div class="footer-modal">
          <button class="button-modal-link" disabled>Publicar</button>
        </div>
      </div>
    </section>
    <!-- estructura para modal de comentario -->
    <section class="section-modal-comment" hidden>
      <div class=" modal-comment" hidden>
        <div class="header-modal">
          <a class="right icon-close-comment"><i class="material-icons">close</i></a>
          <h5>Escribir comentario</h5>
        </div>
        <div class="body-modal">
          <label for="">¿Que quieres decir?</label>
          <input class="input-comment" type="text">
        </div>
        <div class="footer-modal">
          <button class="button-modal-comment" disabled>Publicar</button>
        </div>
      </div>
    </section>
  <!-- estructura del footer -->
    <footer>
     chat
    </footer>
  <!-- enlazando archivos js -->
    <script src="../vendors/js/jquery-3.2.1.min.js"></script>
    <script src="../vendors/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/moment.js"></script>
    <script type="text/javascript" src="../js/home1.js"></script>
  </body>
</html>
