<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home1</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="../css/home1.css">
  </head>
  <body>
  <!-- estructura del header -->
    <header >
      <div class="row profile-nav">
        <div class="col 8 text-header">
          <h2>Juntas</h2>
          <p>Red de mujeres compartiendo experiencias</p>
        </div>
        <div class="col s4 photo-profile right">
          <img class="user-photo right" src="../assets/images/user-female.png" alt="user">
          <a href="perfil.html"><h5 class="nick-name"></h5></a>
        </div>
      </div>
    </header>
      <!-- estructura nav : opciones de navegación(portada-eventos) -->
    <nav class="row">
        <ul id="tabs-swipe-demo" class=" tabs transparent">
          <li class="tab col s6"><a href="#cover-page">Portada</a></li>
         <li class="tab col s6"><a href="#events">Eventos</a></li>
        </ul>
     </nav>
  <!-- estructura de la sección 'portada(cover-page)' -->
  <main >
      <!-- SECCION FRASES MOTIVADORAS -->
    <section>
      <div class="row">
        <!-- FRASES 1 -->
        <div class="col s12 l4">
          <div class="card horizontal">
            <div class="card-image">
              <img src="../assets/images/photo-frase1.jpg">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p><em> "Cuantas preocupaciones se pierden cuando alguien no decide ser algo, sino alguien"</em></p>
              </div>
            </div>
          </div>
        </div>
        <!-- FRASES 2 -->
        <div class="col s12 l4">
          <div class="card horizontal">
            <div class="card-image">
                <img src="../assets/images/photo-frase2.jpg">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p class="frase-text"><em>"Confía en ti mismo. Piensa por ti mismo. Actúa por ti mismo. Habla por ti mismo. Se tú mismo. La imitación es el suicidio."</em> </p>
              </div>
            </div>
          </div>
        </div>
        <!-- FRASES 3 -->
        <div class="col s12 l4">
          <div class="card horizontal">
            <div class="card-image">
                <img src="../assets/images/photo-frase3.jpg">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p class="frase-text"><em>"Lo que las mujeres tienen que aprender es que nadie te da poder. Simplemente lo tomas."</em></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- SECCION AGREGAR UNA PUBLICACION -->
    <section>
      <div class="row">
          <div class="buttons-publication">
            <button class="col s3 btn-options button-text"><i class="material-icons">create</i></button>
            <button class="col s3 btn-options button-image"><i class="material-icons">photo</i></button>
            <button class="col s3 btn-options button-video"><i class="material-icons">ondemand_video</i></button>
            <button class="col s3 btn-options button-link"><i class="material-icons">check_circle</i></button>
          </div>
      </div>
    </section>
    <!-- PUBLICACIONES-->
    <section id="cover-page" class="col s12">
        <div class="row">
          <!-- contenedor de publicaciones nuevass -->
          <div class="col s12 add-publications">
          </div>
          <!-- publicación por default 1 -->
          <h2>Comparte con nosotras</h2>
          <div class="background-red col s12 prototype-text" >
            <h3>"fui victima de violencia pero pude salir adelante"</h3>
            <p>Hola, queria compartir mi experiencia al ser victima de abusos físicos y psicologicos por parte de mi pareja; él Siempre me hacia sentir culpable de lo que pasaba, yo era la que le tenía que pedir perdón cuando me pegaba porque decía que me portaba mal y tenía que pegar. Los hijos lo sienten y viven en ese ambiente de violencia y después lo transmiten. Por eso es importante no aguantar por los hijos, sino al revés. Primero hay que hacerlo por una misma y después para que los hijos vivan en un ambiente de armonía e igualdad. El me dijo más de una vez que nunca me separaría de él. Me llamó chiquita y aseguró que lo nuestro es amor o muerte. Salí corriendo de su lado llorando y el destino quiso que yo viera un cartel que decía 'Rompamos el silencio' y al lado un teléfono. Esa noche de madrugada llamé y tuve la fuerza de salir de mi casa con mis hijos y empezar una nueva vida"..</p>
            <br>
            <p class="user-publish">Publicado por: <a class="anchor-nickname">Luna_forever</a></p>
            </br>
            <div class="div-icons ">
              <a class="btn-floating  waves-effect waves-light red "><i class="material-icons icons">favorite_border</i></a>
              <a class="btn-floating  waves-effect waves-light green icon-comment"><i class="material-icons icons">comment</i></a>
              <a class="btn-floating  waves-effect waves-light yellow "><i class="material-icons icons">star_border</i></a>
            </div>
            <div class="add-comments"></div>
          </div>
          <!-- publicación por default 2 -->
          <div class=" background-red col s12 prototype-video">
            <h3>Ya es hora!</h3>
            <div class="video-container">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/fN5HV79_8B8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            <br>
            <p class="user-publish">Publicado por: <a class="anchor-nickname">Annie</a></p>
            </br>
            <div class="div-icons ">
              <a class="btn-floating  waves-effect waves-light red "><i class="material-icons icons">favorite_border</i></a>
              <a class="btn-floating  waves-effect waves-light green icon-comment"><i class="material-icons icons">comment</i></a>
              <a class="btn-floating  waves-effect waves-light yellow "><i class="material-icons icons">star_border</i></a>
            </div>
            <div class="add-comments"></div>
          </div>
          <!-- publicación por default 4 -->
          <div class="background-red col s12 prototype-image">
            <h3>Vamos chicas!!</h3>
            <div class="image-container">
              <img class="responsive-img" src="../assets/images/encuentro-paz.jpg">
            </div>
            <br>
            <p class="user-publish">Publicado por: <a class="anchor-nickname">Luna_forever</a></p>
            </br>
            <div class="div-icons ">
              <a class="btn-floating  waves-effect waves-light red "><i class="material-icons icons">favorite_border</i></a>
              <a class="btn-floating  waves-effect waves-light green icon-comment"><i class="material-icons icons">comment</i></a>
              <a class="btn-floating  waves-effect waves-light yellow "><i class="material-icons icons">star_border</i></a>
            </div>
            <div class="add-comments"></div>
          </div>
        </div>
    </section>
  <!-- estructura de la sección 'eventos(events)' -->
    <section id="events" class="col s12" >
      <div class="container">
        <div class="row">
          <div class=" col s12 icon-notification">
              <h1>Eventos</h1>
              <a href=""><i class="material-icons">access_time</i></a>
          </div>
          <div class="col s6 prototype-image">
            <p class="user-publish">Publicado por: <a class="anchor-nickname">Luna_forever</a></p>
            <p>Vamos chicas!!</p>
            <div class="image-container">
              <img class="responsive-img" src="../assets/images/encuentro-paz.jpg">
            </div>
            <div class="div-icons ">
              <a class="btn-floating  waves-effect waves-light red "><i class="material-icons icons">favorite_border</i></a>
              <a class="btn-floating  waves-effect waves-light green icon-comment"><i class="material-icons icons">comment</i></a>
              <a class="btn-floating  waves-effect waves-light yellow "><i class="material-icons icons">star_border</i></a>
            </div>
            <div class="add-comments"></div>
          </div>
        </div>
      </div>
    </section>
  <!-- estructura de modales -->
    <!-- estructura de modal para texto -->
    <section class="section-modal-text" hidden>
      <div class="modal-text">
        <div class="header-modal">
          <a class="right icon-close-text"><i class="material-icons">close</i></a>
          <h5>Compartir pensamientos</h5>
        </div>
        <div class="body-modal">
          <label for="">Agregar descripcion</label>
          <input class="description-text" type="text">
          <label for="">¿Que quieres compartir?</label>
          <input class="input-text" type="text">
        </div>
        <div class="footer-modal">
          <button class="btn button-modal-text" disabled>Publicar</button>
        </div>
      </div>
    </section>
    <!-- estructura para modal de imagen -->
    <section class="section-modal-image" hidden>
      <div class=" modal-image">
        <div class="col s12 header-modal">
          <span class="right icon-close-image"><i class="material-icons">close</i></span>
          <h5>Compartir imagen</h5>
        </div>
        <div class="body-modal">
          <label for="">Agregar descripcion</label>
          <input class="description-image" type="text">
          <label for="">Pegar link</label>
          <input class="input-image" type="text">
        </div>
        <div class="footer-modal">
          <button class=" btn button-modal-image" disabled>Publicar</button>
        </div>
      </div>
    </section>
    <!-- estructura para modal de video -->
    <section class="section-modal-video" hidden>
      <div class="modal-video" hidden >
        <div class="header-modal">
          <a class="right icon-close-video"><i class="material-icons">close</i></a>
          <h5>Compartir video</h5>
        </div>
        <div class="body-modal">
          <label for="">Agregar descripcion</label>
          <input class="description-video" type="text">
          <label for="">https://www.youtube.com/watch?v= OfIfzVf8t6E(codigo de video)</label>
          <input class="input-video" type="text" placeholder="Pegar sólo codigo de video : OfIfzVf8t6E (ejemplo)">
        </div>
        <div class="footer-modal">
          <button class=" btn button-modal-video" disabled>Publicar</button>
        </div>
      </div>
    </section>
    <!-- estructura de modal para link -->
    <section class="section-modal-link" hidden>
      <div class="modal-link">
        <div class="header-modal">
          <a class="right icon-close-link"><i class="material-icons">close</i></a>
          <h5>Compartir Enlaces</h5>
        </div>
        <div class="body-modal">
          <label for="">Agregar descripcion</label>
          <input class="description-link" type="text">
          <label for="">Pegar link</label>
          <input class="input-link" type="text">
        </div>
        <div class="footer-modal">
          <button class=" btn button-modal-link" disabled>Publicar</button>
        </div>
      </div>
    </section>
    <!-- estructura para modal de comentario -->
    <section class="section-modal-comment" hidden>
      <div class=" modal-comment" hidden>
        <div class="header-modal">
          <a class="right icon-close-comment"><i class="material-icons">close</i></a>
          <h5>Escribir comentario</h5>
        </div>
        <div class="body-modal">
          <label for="">¿Que quieres decir?</label>
          <input class="input-comment" type="text">
        </div>
        <div class="footer-modal">
          <button class=" btn button-modal-comment" disabled>Publicar</button>
        </div>
      </div>
    </section>
  </main>

  <!-- enlazando archivos js -->
    <script src="../vendors/js/jquery-3.2.1.min.js"></script>
    <script src="../vendors/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/moment.js"></script>
    <script type="text/javascript" src="../js/home1.js"></script>
  </body>
</html>
