<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Perfil</title>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="../css/perfil.css">
  </head>
  <body >
    <header>
      <nav>
        <div class="nav-wrapper">
          <a href="" class="brand-logo center">Juntas</a>
          <ul class="left">
            <!---ICONO PARA VOLVE A LA VISTA HOME-->
            <a href="home1.html">
              <i class="material-icons">chevron_left</i>
            </a>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <!---SECCION INFORMACION DEL USUARIO : PHOTO NICK-NAME-->
      <section class=" container">
        <div class="row">
          <div class="col s12 l12 container-user-photo">
           <div class="border-radius">
             <img class="user-photo" src="../assets/images/user-female.png" alt="user">
           </div>
           <div class="nick-name">
             <h4></h4>
             <a class="btn btn-follow" href="#">Seguir</a>
           </div>
          </div>
        </div>
      </section>
      <!---SECCION POSTS AND FOLLOWERS-->
      <section>
        <ul id="tabs-swipe-demo" class="tabs">
          <li class="tab col s3"><a href="#test-swipe-1"><strong>Publicaciones</strong></a></li>
          <li class="tab col s3"><a class="active" href="#test-swipe-2">Seguidores</a></li>
        </ul>
        <!---AREA PUBLICACIONES-->
        <div id="test-swipe-1" class="col s12 l12" id="post">
          <!---CREANDO TEXTAREA PARA ESCRIBIR PUBLICACIONES-->
          <div class="input-field col s9 l9">
            <h5><strong>Comparte tu historia</strong></h5>
            <textarea class="materialize-textarea"></textarea>
            <!---CREANDO BOTON PARA PUBLICAR-->
            <button class="btn btn-posting" type="submit" name="action" disabled>Publicar</button>
          </div>
            <br>
          <!---CREANDO CONTENEDOR DE TODAS LAS PUBLICACIONES DEL USUARIO-->
          <div class="col s12" id="div-posts">
          </div>
        </div>
        <!---AREA DE SEGUIDORES-->
        <div id="test-swipe-2" class="col s12" id="followers">
        </div>
      </section>
    </main>
    <!---ENLAZANDO ARCHIVOS JS-->
    <script src="../vendors/js/jquery-3.2.1.min.js"></script>
    <script src="../vendors/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/moment.js"></script>
    <script type="text/javascript" src="../js/perfil.js"></script>
  </body>
</html>
